body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #cecece;
}

a {
    text-decoration: none;
    color: #d0021b;
    padding: 12px;
    margin: 10px;
}

.App {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background: #ffffff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #56CCF2;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.nav {
    display: flex;
    justify-content: space-around;
}
.nav li {
    margin-right: 15px;
}
li {
    list-style-type: none;
}
ul {
    padding: 0;
}
.active {
    font-weight: bold;
}
.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.user-box {
    margin: 20px;
    text-align: center;
}
.user-spaced {
    margin-bottom: 7px;
}
.button {
    color: #e6e6e6;
    background: #d0021b;;
    border: none;
    font-size: 18px;
    border-radius: 3px;
    width: 200px;
    text-align: center;
    display: block;
    padding: 15px 0;
    margin: 10px auto;
}
.column {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

li input {
    border-radius: 3px;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.43);
    font-size: 18px;
    width: 80%;
}

li label {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.header {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}